* 
{
    margin: 0 auto;
    font-family: "Rockwell";
}

body
{
    background-color: whitesmoke;
}

#container
{
    height: 1850px;
    width: 1200px;
    background-color: white;
}

/* -----------------  HEADER  ---------------- */
.header
{
    float: left;
    border-bottom: 1px solid #000;
    width: 1200px;
    height: 125px;
    background-color: rgb(255, 255, 255);
}
.logo
{
    width:100px;
    height: 100px;
    background-color: white;
    float: left;
    margin: 12px 0px 12px 15px;
    border: 1px solid #000;
}
.logo img
{
    width: 100px;
    height: 100px;
}

/* ----------------WOW SLIDER---------------- */
.slider
{
    width: 1200px;
    height: 500px;
    background-color: rgb(255, 123, 123);
    float: left;
}

.sca-container
{
    height: 1050px;
    width: 1200px;
    background-color: magenta;
    float: left;
}

/*------------  NAV BAR  ------------*/
.nav
{
    width:1055px;
    height: 100px;
    background-color: white;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

.links
{
    font-size: 22px;
    text-align: center;
    padding: 10px 10px 10px 10px; 
    margin-top: 25px; 
}

.link
{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-family: "Open Sans Condensed";
}


/* Make a transition on hover */
.links a:hover
{
    background-color: #686868;
    transition: .5s;
    padding: 10px 30px 12px 30px;
    cursor: pointer;
    border-radius: 5px;
}

/* gradually remove the extended padding */
.links a
{
    transition: .5s;
}


.link:visited 
{
    color: rgb(144, 144, 144);    
}
.link:link
{
    color: rgb(0, 0, 0);
}


/* -----------------  CONTENT  --------------------*/
.content-area
{
    width:1000px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
    position: relative;
    z-index: 1;
}

.content
{
    width: 300px;
    height: 300px;
    background-color: royalblue;
    float: left;
    margin: 50px 10px 50px 20px;
    transition: .75s;
    border-radius: 5px;
    z-index: 1;

}
.content img
{
    width: 300px;
    height: 300px;
    margin: 0;
    border-radius: 3px;
    position: absolute;
    transition: 1s;
}

.content:hover
{
    transition: 0.5s;
    border-bottom-left-radius: 160px;
}
.content:hover img
{
    transition: 0.5s;
    border-bottom-left-radius: 160px;
}

.content:hover .p-name{ transition:.4s;background-color:#76ff4d;color:black;}

.p-name
{
    float: left;
    width: 300px;
    height: 25px;
    margin-top:301px;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    background-color: black;
    color: white;
    text-align: center;

}
.p-name h3
{
    font-family: monospace;
    padding-top:4px;
}

.read-more-btn
{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: #ff9;
    float: left;
    position: relative;
    /*text-decoration: none;*/
    z-index: -2;
    cursor: pointer;
}
.read-more-btn h3
{
    margin: 275px 0px 0px 5px;
    font-size: 15px;
    color: #111;
}
.read-more-btn a {text-decoration: none;}

/* ---------------  SIDE BAR  ---------------- */

.categories
{
    width: 200px;
    height: 100%;
    background-color: black;
    float: left;
    color: white;
}

.categories ul
{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    list-style-type: none;
    font-family: "Montserrat";

}
.categories ul ul
{
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    transition: 0.5s;
}
.categories ul ul li
{
    margin-left:15px;
    transition: 0.5s;
    font-family: "Montserrat";
    font-size: 16px;

}

.categories ul ul li:hover
{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:5px;
    list-style-type: square;
}

.categories ul ul:hover
{
    transition: 0.5s;
    background: white;
    padding-bottom: 10px;
    padding-top: 10px;
    color:black;
    list-style-type: square;
}

.categories ul ul a{
    text-decoration: none;
}
.categories ul ul a:visited 
{
    color: rgb(97, 97, 97);    
}
.categories ul ul a:link
{
    color: rgb(255, 255, 255);
}
.categories ul ul li
{
    padding:5px 0px 0px 0px;
}


/*------------------  BRAND LOGO CONTAINER  ------------------*/

.brand-logo-container
{
    width: 1200px;
    height:120px;
    border-top: 1px solid #000;
    background-color: rgb(255, 255, 255);
    float: left;
}
.brand-logo{
    width: 100px;
    height: 100px;
    margin: 10px 0px 10px 155px;
    float: left;
    border-radius: 10px;

    /*for a shadow effect.*/
    /*border-bottom: 2px solid black;
    border-left: 1px solid black;*/
}
.brand-logo img
{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}






.info
{
    background-color: #fff;
    width:1000px;
    height: 100%;
    float: left;
}

.brand-logo-bar
{
    float: left;
    height: 200px;
    width: 1000px;
    background-color: #fff;
}
.brand-logo-c
{
    margin: 20px 350px;
    width: 200px;
    height:200px;
}
.info .brand-logo-c img
{
    height:200px;
    width: 200px;
    border-radius: 10px;
}

.p-img-l
{
    float: right;
    height: 350px;
    width: 350px;
    background-color: purple;
    margin-top: 0px;
}
.p-img-l img
{
    height: 100%;
    width: 100%;
}
.p-info-l
{
    width: 580px;
    height: auto;
    padding-bottom: 10px;
    float: left;
    margin: 80px 10px 0px 40px;
    text-align: justify;
    border-bottom: 1px solid #000;

}
.p-info-l h2{
    font-family: 'Open Sans Condensed';
}
.p-info-r h2{font-family: 'Open Sans Condensed';}


.p-img-r
{
    float: left;
    height: 350px;
    width: 350px;
    background-color: purple;
    margin-top: 0px;
}
.p-img-r img
{
    height: 100%;
    width: 100%;
}
.p-info-r
{
    width: 580px;
    height: auto;
    padding-bottom: 10px;
    float: right;
    margin: 100px 40px 0px 10px;
    text-align: justify;
    border-bottom: 1px solid #000;
}

.info-container
{
    margin: 0;
    float: left;
    height:360px;
    width: 1000px;

}





.contact
{
    height: 100%;
}

.contact h2
{
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-family: "Inconsolata";
    font-size: 50px;
}

.contact h3 {
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-family: "Open Sans Condensed";
    font-size: 25px;
}

.footer
{
    width:1200px;
    height:50px;
    background-color: rgb(0, 0, 0);
    float: left;
    color: white;
    text-align: center;
    padding-top: 30px;
}