* {margin: 0 auto; font-family: "Rockwell";}

body
{
    background-color: whitesmoke;
}

#container
{
    height: 1850px;
    width: 1200px;
    background-color: white;
}


.header
{
    float: left;
    border-bottom: 1px solid #000;
    width: 1200px;
    height: 125px;
    background-color: rgb(255, 255, 255);
}



.logo
{
    width:100px;
    height: 100px;
    background-color: white;
    float: left;
    margin: 12px 0px 12px 15px;
    border: 1px solid #000;
}

.logo img
{
    width: 100px;
    height: 100px;
}

.nav
{
    width:1055px;
    height: 100px;
    background-color: white;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
}

.slider
{
    width: 1200px;
    height: 500px;
    background-color: rgb(255, 123, 123);
    float: left;
}

.blah
{
    height: 1050px;
    width: 1200px;
    background-color: magenta;
    float: left;
}

.categories
{
    width: 200px;
    height: 100%;
    background-color: black;
    float: left;
    color: white;
}

/* -----------------  CONTENT  --------------------*/
.content-area
{
    width:1000px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
    position: relative;
    z-index: 1;
}

.content
{
    width: 300px;
    height: 300px;
    background-color: royalblue;
    float: left;
    margin: 50px 10px 50px 20px;
    transition: .75s;
    border-radius: 5px;
    z-index: 1;

}
.content img
{
    width: 300px;
    height: 300px;
    margin: 0;
    border-radius: 3px;
    position: absolute;
    transition: 1s;
}

.content:hover
{
    transition: 0.5s;
    border-bottom-left-radius: 160px;
}
.content:hover img
{
    transition: 0.5s;
    border-bottom-left-radius: 160px;
}

.p-name
{
    float: left;
    width: 300px;
    height: 25px;
    margin-top:301px;
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    background-color: black;
    color: white;
    text-align: center;
}

.read-more-btn
{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    float: left;
    position: relative;
    text-decoration: none;
    z-index: -2;
    cursor: pointer;
}
.read-more-btn h3
{
    margin: 275px 0px 0px 5px;
    font-size: 15px;
    color: white;
}


/*----------------------------------------*/

.brand-logo-container
{
    width: 1200px;
    height:120px;
    border-top: 1px solid #000;
    background-color: rgb(255, 255, 255);
    float: left;
}
.brand-logo{
    width: 100px;
    height: 100px;
    background-color: purple;
    margin: 10px 0px 10px 155px;
    float: left;
    border-radius: 10px;

    /*for a shadow effect.*/
    /*border-bottom: 2px solid black;
    border-left: 1px solid black;*/
}
.brand-logo img
{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.footer
{
    width:1200px;
    height:50px;
    background-color: rgb(0, 0, 0);
    float: left;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.categories ul
{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
    list-style-type: none;
}
.categories ul ul
{
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    transition: 0.5s;
}
.categories ul ul li
{
    margin-left:15px;
    transition: 0.5s;
}

.categories ul ul li:hover
{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:5px;
    list-style-type: square;
}

.categories ul ul:hover
{
    transition: 0.5s;
    background: white;
    color:black;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:15px;
   
    list-style-type: square;
}

/*------------  NAV BAR  ------------*/
.link
{
    width: 50px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}


/* Make a transition on hover */
.links a:hover
{
    background-color: #fbffc6;
    transition: .5s;
    padding: 10px 50px 17px 50px;
    cursor: pointer;
}

/* gradually remove the extended padding */
.links a
{
    transition: .5s;
}

.links
{
    font-family: 'Rockwell';
    font-size: 20px;
    text-align: center;
    padding: 10px 10px 10px 10px;   
    margin-top: 25px; 
}

.link:visited 
{
    color: rgb(144, 144, 144);    
}
.link:link
{
    color: rgb(0, 0, 0);
}

.info
{
    background-color: #fff;
    width:1000px;
    height: 100%;
    float: left;
}

.brand-logo-bar
{
    float: left;
    height: 200px;
    width: 1000px;
    background-color: #fff;
}
.brand-logo-c
{
    margin: 20px 400px;
    width: 200px;
    height:200px;
}
.info .brand-logo-c img
{
    height:200px;
    width: 200px;
    border-radius: 10px;
}

.p-img-l
{
    float: right;
    height: 350px;
    width: 350px;
    background-color: purple;
    margin-top: 0px;
}
.p-img-l img
{
    height: 100%;
    width: 100%;
}
.p-info-l
{
    width: 580px;
    height: auto;
    padding-bottom: 10px;
    float: left;
    margin: 80px 10px 0px 40px;
    text-align: justify;
    border-bottom: 1px solid #000;
}


.p-img-r
{
    float: left;
    height: 350px;
    width: 350px;
    background-color: purple;
    margin-top: 0px;
}
.p-img-r img
{
    height: 100%;
    width: 100%;
}
.p-info-r
{
    width: 580px;
    height: auto;
    padding-bottom: 10px;
    float: right;
    margin: 100px 40px 0px 10px;
    text-align: justify;
    border-bottom: 1px solid #000;
}

.info-container
{
    margin: 0;
    float: left;
    height:360px;
    width: 1000px;
}
.categories ul ul a{
    text-decoration: none;
}
.categories ul ul a:visited 
{
    color: rgb(144, 144, 144);    
}
.categories ul ul a:link
{
    color: rgb(0, 0, 0);
}
.categories ul ul li
{
    padding:5px 0px 0px 0px;
}

.contact h2
{
    padding-bottom: 10px;
}