* {margin: 0 auto;}

#container
{
    height: 1900px;
    width: 1200px;
    background-color: powderblue;
}


.header
{
    width: 1200px;
    height: 100px;
    background-color: #ff9;
}

.logo
{
    width:75px;
    height: 75px;
    background-color: white;
    float: left;
    margin: 12px 0px 12px 15px;
}

.nav
{
    width:1080px;
    height: 50px;
    background-color: white;
    float: left;
    margin: 25px 0px 12px 15px;
}

.slider
{
    width: 1200px;
    height: 500px;
    background-color: rgb(255, 123, 123);
}

.blah
{
    height: 1050px;
    width: 1200px;
    background-color: magenta;
}

.categories
{
    width: 200px;
    height: 100%;
    background-color: rgb(117, 255, 104);
    float: left;
}

.content-area
{
    width:1000px;
    height: 100%;
    background-color: rgb(194, 253, 99);
    float: left;
}

.content
{
    width: 300px;
    height: 300px;
    background-color: purple;
    float: left;
    margin: 32px 10px 10px 20px;
    transition: .5s;
    border-radius: 5px;

}
.read-more-btn
{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: red;
    float: left;
    z-index: 50px;
    
    
    
}

.content:hover
{
    transition: 0.5s;
    border-bottom-left-radius: 150px;
}

.brand-logo-container
{
    width: 1200px;
    height:150px;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.brand-logo{
    width: 100px;
    height: 100px;
    background-color: purple;
    margin-top: 25px;
    margin-left: 155px;
    float: left;
    border-radius: 10px;

}
.brand-logo img
{
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

.footer
{
    width:1200px;
    height:100px;
    background-color: rgb(0, 0, 0);
    float: left;
}


