* {margin: 0 auto; font-family: "Rockwell";}

body
{
    background-color: powderblue;
}

#container
{
    height: 1850px;
    width: 1200px;
    background-color: white;
}


.header
{
    width: 1200px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}



.logo
{
    width:75px;
    height: 75px;
    background-color: white;
    float: left;
    margin: 12px 0px 12px 15px;
}

.logo img
{
    width: 75px;
    height: 75px;
}

.nav
{
    width:1080px;
    height: 100px;
    background-color: white;
    float: left;
    margin-left: 15px;
}

.slider
{
    width: 1200px;
    height: 500px;
    background-color: rgb(255, 123, 123);
}

.blah
{
    height: 1050px;
    width: 1200px;
    background-color: magenta;
}

.categories
{
    width: 200px;
    height: 100%;
    background-color: black;
    float: left;
    color: white;
}

/* -----------------  CONTENT  --------------------*/
.content-area
{
    width:1000px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    float: left;
    position: relative;
    z-index: 1;
}

.content
{
    width: 300px;
    height: 300px;
    background-color: royalblue;
    float: left;
    margin: 32px 10px 10px 20px;
    transition: .75s;
    border-radius: 5px;
    z-index: 1;

}
.content img
{
    width: 300px;
    height: 300px;
    margin: 0;
    position: absolute;
    border-radius: 3px;
    transition: 1s;

}

.content:hover
{
    transition: 0.5s;
    border-bottom-left-radius: 160px;
}
.content:hover img
{
    transition: 0.5s;
    border-bottom-left-radius: 160px;
}

.p-name
{
    float: left;
    width: 150px;
    height: 28px;
    margin:305px 0px 0px 75px;
    position: absolute;
    z-index: 1;
    background-color: black;
    color: white;
    text-align: center;
}

.read-more-btn
{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(71, 71, 71);
    float: left;
    position: relative;
    z-index: -2;
}
.read-more-btn h3
{
    margin: 275px 0px 0px 5px;
    font-size: 15px;
    color: white;
}


/*----------------------------------------*/

.brand-logo-container
{
    width: 1200px;
    height:150px;
    border-top: 1px solid #000;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.brand-logo{
    width: 100px;
    height: 100px;
    background-color: purple;
    margin-top: 25px;
    margin-left: 155px;
    float: left;
    border-radius: 10px;

}
.brand-logo img
{
    width: 100px;
    height: 100px;
    border-radius: 10px;

}

.footer
{
    width:1200px;
    height:50px;
    background-color: rgb(0, 0, 0);
    float: left;
    color: white;
    text-align: center;
    padding-top: 30px;
}

.categories ul
{
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}
.categories ul ul
{
    padding-left: 20px;
}
.categories ul ul li
{
    margin-left:20px;
}

/*------------  NAV BAR  ------------*/
.link
{
    width: 50px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Make a transition on hover */
.links a:hover
{
    background: #ccfd8b;
    transition: .5s;
    padding: 10px 50px 17px 50px;
}

/* gradually remove the extended padding */
.links a
{
    transition: .5s;
}

.links
{
    font-family: 'Rockwell';
    font-size: 20px;
    text-align: center;
    padding: 10px 10px 10px 10px;   
    margin-top: 25px; 
}

.link:visited 
{
    color: rgb(144, 144, 144);    
}